button {
  border-radius: -70px;
  background-color: #37db37;
  border-color: #37db37;
  color: yellow;
}
/*
dangit why does button not wanna support border radius
oh
because im an idiot and forgot to link the file to the page
wait thats way too round
lol
haha
thats good

*/